.section-container {
    position: relative;
	padding-top: 247px;
	background-color: #280B70;
    background-image: url('@/assets/images/banner-bg.png');
	background-size: 117%;
	background-repeat: no-repeat;
	z-index: 0;
    
    @media (max-width: 1199px) {
        padding-top: 100px;
        background-color: #160A3F;
        background-size: 150%;
    }

    @media (max-width: 767px) {
        padding: 50px;
    }
    
    .section-content {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

.link {
    &--table {
        color: #382FFA;

        &:hover {
            color: #2E94F0
        }
    }
}

.main {
    flex: 1 0 auto;
}

#app {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.px {
    &-16 {
        padding: 16px 0;
    }
}

.btn {
    border-radius: 5px;
    padding: 10px 15px;
    background: #21156e;
    color: white;
    margin: 0 4px;

    &--register, &--primary {
        background: linear-gradient(351.09deg, #f029a0 4.36%, #f0b000 117.5%);
    }

    &--cancel, &--previous {
        border-radius: 25px;
    }
}

$textSize: (8: 8px, 10: 10px, 12: 12px, 14: 14px, 16: 16px);

.text {
    @each $name, $size in $textSize {
        &-#{$name} {
            font-size: $size;
        }
    }
}

input[type='text']::placeholder {
    color: white;
}