.error-section {
	.main-content {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
		color: white;

		h5 {
			text-transform: uppercase;
			margin: 20px 0 40px;
		}
		h3 {
			font-size: 70px;
			text-transform: uppercase;
		}
	}
}
